{% extends "ClarolineCoreBundle:workspace:layout.html.twig" %}

{% trans_default_domain "icap_wiki" %}

{% block title %}{{ _resource.resourceNode.name }}{% endblock %}

{% block content %}
    <div
            class="page-container wiki-container"
            data-resource-node="{{ _resource.resourceNode | api_serialize | json_encode | raw | escape }}"
            data-wiki="{{ _resource | api_serialize | json_encode | raw | escape }}"
            data-section-tree="{{ sectionTree | json_encode | raw | escape }}"
    >
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ hotAsset('dist/claroline-distribution-plugin-wiki-resource.js') }}"></script>
{% endblock %}
