{% extends 'FormaLibreSupportBundle:AdminSupport:adminSupportMenu.html.twig' %}

{% block adminSupport %}
    <div id="official-support-management-body">
        <div id="official-support-info" class="well well-sm">
            {{ 'official_support_info'|trans({}, 'support') }}
        </div>

        {% if supportToken is not empty %}
            <b>{{ 'support_token'|trans({}, 'support') }}</b> : {{ supportToken }}

            {% if data['contract'] is defined and data['contract'] is not empty %}
                <br>
                <b>{{ 'contract'|trans({}, 'support') }}</b> : {{ data['contract'] }}
            {% endif %}

            {% if data['contacts'] is defined and data['contract']|length > 0 %}
                <br>
                <h3>{{ 'contacts'|trans({}, 'support') }}</h3>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>{{ 'name'|trans({}, 'platform') }}</th>
                            <th>{{ 'email'|trans({}, 'platform') }}</th>
                            <th>{{ 'phone'|trans({}, 'platform') }}</th>
                        </tr>
                        {% for contact in data['contacts'] %}
                            <tr>
                                <td>{{ contact.details.name }}</td>
                                <td>{{ contact.details.email }}</td>
                                <td>
                                    {% if contact.details.telephone is not empty %}
                                        <i class="fa fa-phone"></i>
                                        {{ contact.details.telephone }}
                                    {% endif %}
                                    {% if contact.details.cellPhone is not empty %}
                                        {% if contact.details.telephone is not empty %}
                                            <br>
                                        {% endif %}
                                        <i class="fa fa-mobile"></i>
                                        {{ contact.details.cellPhone }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
        {% else %}
            <br>
            <div id="support-token-form-row" class="form-group row">
                <div class="col-md-6">
                    <div class="input-group">
                        <input id="support-token-input"
                               type="text"
                               class="form-control"
                               placeholder="{{ 'enter_support_token_msg'|trans({}, 'support') }}"
                        >
                        <span class="input-group-btn">
                            <button id="support-token-validate-btn" class="btn btn-primary">
                                {{ 'ok'|trans({}, 'platform') }}
                            </button>
                        </span>
                    </div>
                </div>
                <div id="token-error-block" class="help-block field-error col-md-12">
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'support' }) }}"></script>
    <script src="{{ hotAsset('dist/claroline-distribution-plugin-support-admin-official-support-management.js') }}"></script>
{% endblock %}