
{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'users' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block section_content %}
    <div>{{ macros.flashBox() }}</div>
    <div
      class="page-container user-administration-container"
      data-users="{{ results | json_encode | raw | escape }}"
      data-count="{{ total }}"
      data-filters="{{ filters | json_encode | raw | escape }}"
      data-sort-by="{{ sortBy | json_encode | raw | escape }}"
      data-page="{{ page }}"
      data-page-size="{{ pageSize }}"
    >
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('vendor/angular-ui.css')}}"> </link>
    {# we should be able to remove the following line if it's included in angular-ui.css #}
    <link rel="stylesheet" href="{{ asset('bundles/clarolinecore/css/common/select.css') }}"></link>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ hotAsset('dist/claroline-distribution-main-core-user-management.js') }}"></script>
{% endblock %}
