{% if buttons|length > 0 %}
{% for button in buttons %}
    <a href="{{ url("hwi_oauth_service_redirect", {service: button['service']}) }}" type="button" id="{{ button['service'] }}-connect-btn" class='btn {{ button['service'] }}-connect btn-third-party-login btn-block'>
        {% if button['display_name'] is not empty %}
            {{ button['display_name'] }}
        {% else %}
            {{ 'login_with_third_party'|trans({'%name%':service|trans({}, 'icap_oauth')}, 'platform') }}
        {% endif %}
    </a>
{% endfor %}
{% endif %}