{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'analytics_home' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'admin_analytics'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block content %}
    <div class="page-container analytics-container"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ hotAsset('dist/claroline-distribution-main-core-tools-admin-analytics.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ themeAsset('claroline-distribution-main-core-analytics.css') }}" />

{% endblock %}