{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block title %}{{ 'login' | trans({}, 'platform') ~ ' - ' ~ parent() | striptags | raw }}{% endblock %}

{# we override wrapper to remove max-width to make the background fill the page #}
{% block wrap_attrs %}
    class="app-content app-content-full container-fluid"
    style="background: url('{{ asset('background.jpg') }}') no-repeat center center fixed; background-size: cover;"
{% endblock %}
{% block content %}
    {{ macros.flashBox() }}

    <div class="page-container">
        <div class="page login-page">
            {% include 'ClarolineCoreBundle:Authentication:loginForm.html.twig' %}

            {% if selfRegistrationAllowed is defined and selfRegistrationAllowed
                  and showRegisterButton is defined and showRegisterButton
            %}
                <a class="btn btn-default btn-block" href="{{ path('claro_registration_user_registration_form') }}" title="{{ 'register'|trans({}, 'platform') }}">
                    {{ 'register'|trans({}, 'platform') }}
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
