<h3 class="panel-title pull-left">
    {{_resource.name}} -
    {% if mode is constant('Innova\\MediaResourceBundle\\Entity\\Options::CONTINUOUS_PAUSE')  %}
        {{'label_play_mode_pause' | trans({}, 'media_resource')}}
    {% elseif mode is constant('Innova\\MediaResourceBundle\\Entity\\Options::CONTINUOUS_LIVE') %}
        {{'label_play_mode_live' | trans({}, 'media_resource')}}
    {% elseif mode is constant('Innova\\MediaResourceBundle\\Entity\\Options::CONTINUOUS_ACTIVE') %}
        {{'label_play_mode_active' | trans({}, 'media_resource')}}
    {% elseif mode is constant('Innova\\MediaResourceBundle\\Entity\\Options::SCRIPTED_ACTIVE') %}
        {{'label_play_mode_scripted_active' | trans({}, 'media_resource')}}
    {% elseif mode is constant('Innova\\MediaResourceBundle\\Entity\\Options::FREE') %}
        {{'label_play_mode_free' | trans({}, 'media_resource')}}
    {% endif %}
</h3>

{% if is_granted('ROLE_ADMIN') %}
  <a target="_blank" href="{{ path('innova_media_resource_administrate', {'workspaceId': _resource.getWorkspace.id ,'id':_resource.id })}}" title="{{'innova_media_resource_administrate' | trans({}, 'resource')}}" class="btn btn-primary fa fa-pencil pull-right"></a>
{% endif %}
