<!-- step 1 container -->
<div class="step-1-container">
    <div class="row scripted-player-introduction-text">
        <div class="col-md-12 text-center">
            <div class="alert alert-info introduction-message">
                <h4>{{'scripted_active_explaination_first' | trans({}, 'media_resource')}}</h4>
                <h4>{{'scripted_active_explaination_second' | trans({}, 'media_resource')}}</h4>
            </div>
            <div class="alert alert-warning no-problems-detected-message" style="display:none;">
                <h4>{{'no_problems_detected_message_first' | trans({}, 'media_resource')}}</h4>
                <h4>{{'no_problems_detected_message_second' | trans({}, 'media_resource')}}</h4>
                <button class="btn btn-default fa fa-refresh" onclick="window.location.reload();"></button>
            </div>
            <hr>
        </div>
    </div>
    <div class="row scripted-player-step1-buttons">
        <div class="col-md-12 text-center">
            <div class="btn-group">
                <button type="button" class="btn btn-default" id="btn-play" data-action="playFirstStep" title="{{'play_pause' | trans({}, 'media_resource')}}">
                    <i class="fa fa-play"></i>
                </button>
                <button type="button" class="btn btn-primary" disabled id="btn-flag" data-action="flag" title="{{'scripted_active_flag_title' | trans({}, 'media_resource')}}">
                    <i class="fa fa-flag"></i>
                </button>
            </div>
            <hr>
        </div>
    </div>

    <!-- info label -->
    <div class="row scripted-player-step1-label">
        <div class="col-md-12 text-center">
            <h3>
                <span class="label label-info nb-problems-label"></span>
            </h3>
        </div>
    </div>
</div>

<div class="step-2-container" style="display:none;">
    <div class="row scripted-player-introduction-text">
        <div class="col-md-12 text-center">
            <div class="alert alert-warning">
                <h4>{{'scripted_active_explaination_step2_first' | trans({}, 'media_resource')}}</h4>
                <h4>{{'scripted_active_explaination_step2_second' | trans({}, 'media_resource')}}</h4>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 text-center">
            <audio id="active-scripted-audio-player" style="width:100%;" controls src=""></audio>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h4>{{'region_help' | trans({}, 'media_resource')}}</h4>
            <hr/>
            <div class="helps-row-container"></div>
        </div>
    </div>
</div>

{% block javascripts %}

    {% javascripts output = 'vendor/claroline/plugin/innovamediaresource/js/player-scripted-active.js'
    '@InnovaMediaResourceBundle/Resources/js/play.scripted.active.js'
 %}

    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
