<!-- step 1 container -->
<div class="step-1-container">
    <div class="row scripted-player-introduction-text">
        <div class="col-md-12 text-center">
            <div class="alert alert-warning">
                <h4>{{'scripted_active_explaination_first' | trans({}, 'media_resource')}}</h4>
                <h4>{{'scripted_active_explaination_second' | trans({}, 'media_resource')}}</h4>
                <button onclick="testAjax()">TEST</button>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="btn-group">
                <button type="button" class="btn btn-default" id="btn-play" data-action="playFirstStep" title="{{'play_pause' | trans({}, 'media_resource')}}">
                    <i class="fa fa-play"></i>
                </button>
                <button type="button" class="btn btn-primary" id="btn-flag" data-action="flag" title="{{'scripted_active_flag_title' | trans({}, 'media_resource')}}">
                    <i class="fa fa-flag"></i>
                </button>
            </div>
        </div>
    </div>
    <hr>
    <!-- info label -->
    <div class="row">
        <div class="col-md-12 text-center">
            <h4><span class="label label-info nb-problems-label"></span></h4>
        </div>
    </div>
</div>

<div class="step-2-container" style="">
    <div class="row scripted-player-introduction-text">
        <div class="col-md-12 text-center">
            <div class="alert alert-warning">
                <h4>{{'scripted_active_explaination_step2_first' | trans({}, 'media_resource')}}</h4>
                <h4>{{'scripted_active_explaination_step2_second' | trans({}, 'media_resource')}}</h4>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 text-center">
            <audio id="active-scripted-audio-player" style="width:100%;" controls src=""></audio>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 text-center">
            <h4>aides</h4>
            <div class="regions-row-container">

            </div>
        </div>
    </div>
</div>

{% block javascripts %}

    {% javascripts output = 'vendor/claroline/plugin/innovamediaresource/js/player-scripted-active.js'
    '@InnovaMediaResourceBundle/Resources/js/play.scripted.active.js'
 %}

    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
