<div class="row media-container">
    <div class="col-md-12">
        <div id="audio-player">
            <div id="wave-timeline"></div>
            <div id="waveform">
                <div class="progress progress-striped active" id="progress-bar">
                    <div class="progress-bar progress-bar-info"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr/>
<!-- media controls -->
<div class="row">
    <div class="col-md-12 text-center">
      <div class="btn-group">
        <button type="button" class="btn btn-default" id="btn-play" title="{{'play_pause' | trans({}, 'media_resource')}}">
            <i class="fa fa-play"></i>
            /
            <i class="fa fa-pause"></i>
        </button>
        <button type="button" id="btn-help" disabled class="btn btn-primary" title="{{'region_help_view' | trans({}, 'media_resource')}}">
            <i class="fa fa-question"></i>
        </button>
        <button type="button" id="btn-delete" class="btn btn-default btn-warning" title="{{'region_delete' | trans({}, 'media_resource')}}">
            <i class="fa fa-trash-o"></i>
        </button>
      </div>
    </div>
</div>

<!-- include region config modal skeleton -->
{% include "InnovaMediaResourceBundle:MediaResource/Partials/modals:simple.help.modal.html.twig" %}

{% block javascripts %}
  <script src="{{ hotAsset('dist/commons.js') }}"></script>
  <script src="{{ hotAsset('dist/claroline-distribution-plugin-media-resource-live.js') }}"></script>
{% endblock %}
