<div class="row region" id="{{region.uuid}}" data-uuid="{{region.uuid}}">
    <!-- Visible Region data only needed in administration mode  -->
    {% if admin %}
      <div class="col-xs-1 text-center">
          <div class="time-text start">{{ region.start | hmsTime }}</div>
      </div>
      <div class="col-xs-1 text-center">
          <div class="time-text end">{{ region.end | hmsTime }}</div>
      </div>
      <div class="col-xs-7">
          <div contenteditable="true" class="text-left note">{{ region.note | raw }}</div>
      </div>
      <div class="col-xs-1 text-right">
          <span class="badge row-index">{{ loop.index }}</span>
      </div>
      <div class="col-xs-2 text-right">
          <div class="btn-group" role="group">
              <button type="button" class="btn btn-default" title="{{'play_pause_region' | trans({}, 'media_resource')}}" onclick="playRegion(this);">
                  |-&nbsp;<i class="fa fa-play"></i>&nbsp;-|
              </button>
              <button role="button" type="button" class="btn btn-default" title="{{'region_config' | trans({}, 'media_resource')}}" onclick="configRegion(this);">
                  <i class="fa fa-cog"></i>
              </button>
              <button role="button" type="button" class="btn btn-danger" data-uuid="{{ region.uuid }}" title="{{'region_delete' | trans({}, 'media_resource')}}" onclick="deleteRegion(this);">
                  <i class="fa fa-trash-o"></i>
              </button>
          </div>
      </div>
    {% endif %}
    {% if hidden %}
      <!-- Hidden Region data  -->
      <input type="hidden" class="hidden-start" name="start[]" value="{{ region.start }}" required="required">
      <input type="hidden" class="hidden-end" name="end[]" value="{{ region.end }}" required="required">
      <input type="hidden" class="hidden-note" name="note[]" value="{{ region.note }}">
      <input type="hidden" class="hidden-region-id" name="region-id[]" value="{{ region.id }}">
      <input type="hidden" class="hidden-region-uuid" name="region-uuid[]" value="{{ region.uuid }}">
      <!-- Hidden Region Config data  -->
      {% if config %}
        <input type="hidden" class="hidden-config-help-region-uuid" name="help-region-uuid[]" value="{{ region.regionConfig.helpRegionUuid ? region.regionConfig.helpRegionUuid : '' }}">
        <input type="hidden" class="hidden-config-loop" name="loop[]" value="{{ region.regionConfig.loop ? '1' : '0' }}">
        <input type="hidden" class="hidden-config-backward" name="backward[]" value="{{ region.regionConfig.backward ? '1' : '0' }}">
        <input type="hidden" class="hidden-config-rate" name="rate[]" value="{{ region.regionConfig.rate ? '1' : '0' }}">
        {% if admin %}
          {% for i in 0..2 %}
              <input type="hidden" class="hidden-help-texts" name="help-texts[]" value="{{ region.regionConfig.helpTexts[i] is defined ? region.regionConfig.helpTexts[i].text : '' }}">
          {% endfor %}
          {% for i in 0..2 %}
              <input type="hidden" class="hidden-help-links" name="help-links[]" value="{{region.regionConfig.helpLinks[i] is defined ? region.regionConfig.helpLinks[i].url : '' }}">
          {% endfor %}
        {% else %}
          {% for helpText in region.regionConfig.helpTexts %}
              <input type="hidden" class="hidden-help-texts" name="help-texts[]" value="{{ helpText.text }}">
          {% endfor %}
          {% for helpLink in region.regionConfig.helpLinks %}
              <input type="hidden" class="hidden-help-links" name="help-links[]" value="{{helpLink.url}}">
          {% endfor %}
        {% endif %}
      {% endif %}
    {% endif %}
</div>
